body {
  background-color: f5f5f5;
  font-family: "Inter", sans-serif;
}

.homepageShowcase {
  width: 100%;
  height: 90vh;
  background-image: url(../media/blurform-background\ 1.png);
  // background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .showcase-text {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 100px;
    background: linear-gradient(90deg, #20243d 0%, #14548f 75.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;

    .icons-1 {
      width: 18%;
      position: absolute;
      left: 0%;
      top: 0%;
      // position: relative;
      animation: fadeInFromTop 0.15s linear forwards, floating ease 15s infinite;

      .clover {
        position: absolute;
        left: 55%;
        bottom: 15%;
        width: 45px;
        height: 45px;
        animation: fadeInFromTop 0.1s linear forwards,
          floating ease 10s infinite;
      }

      @keyframes fadeInFromTop {
        from {
          opacity: 0;
          transform: translateY(-15px);
        }

        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      @keyframes floating {
        0% {
          transform: translate(0%, 0%) rotate(360deg);
        }

        25% {
          transform: translate(5%, 15%) rotate(360deg);
        }

        50% {
          transform: translate(10%, 5%) rotate(360deg);
        }

        75% {
          transform: translate(0%, 15%) rotate(360deg);
        }

        100% {
          transform: translate(0%, 0%) rotate(360deg);
        }
      }
    }

    .icons-2 {
      width: 16%;
      position: absolute;
      right: 5%;
      top: 2%;
      // position: relative;
      animation: fadeInFromTop 0.15s linear forwards, floating ease 15s infinite;

      &:hover {
        animation: fadeInFromTop 0.5s linear forwards, floating ease 4s infinite;
      }
    }

    .icons-3 {
      width: 20%;
      position: absolute;
      left: 10%;
      bottom: -36%;
      // position: relative;
      animation: fadeInFromTop 0.15s linear forwards, floating ease 15s infinite;

      &:hover {
        animation: fadeInFromTop 0.5s linear forwards, floating ease 4s infinite;
      }
    }

    .icons-4 {
      width: 15%;
      position: absolute;
      right: 5%;
      bottom: -30%;
      // position: relative;
      animation: fadeInFromTop 0.15s linear forwards, floating ease 15s infinite;

      &:hover {
        animation: fadeInFromTop 0.5s linear forwards, floating ease 4s infinite;
      }
    }

    .icons-5 {
      width: 40px;
      position: absolute;
      right: 30%;
      bottom: 0%;
      // position: relative;
      animation: fadeInFromTop 0.15s linear forwards, floating ease 15s infinite;

      &:hover {
        animation: fadeInFromTop 0.5s linear forwards, floating ease 4s infinite;
      }
    }

    h1 {
      font-size: 4rem;
      margin: 0;
    }

    h2 {
      font-size: 3.6rem;
      font-weight: 700;
      margin: 0;
    }

    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 145%;
      text-align: center;
      letter-spacing: -0.03em;
      color: #141c46;
    }

    form {
      display: flex;
      align-items: center;
      gap: 35px;

      button {
        background: #ef4e2a;
        color: #fff !important;
        border-radius: 8px;
        padding: 8px 25px;
        border: 1px solid #ef4e2a;
        -webkit-text-fill-color: #fff;

        &:hover {
          background: transparent;
          -webkit-text-fill-color: #ef4e2a;
        }
      }

      a:hover {
        -webkit-text-fill-color: #ef4e2a;
        text-decoration: none;
      }
    }
  }
}

// HERE IS MY CHANGES
.myContainer {
  .clients-title {
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 3rem;
      color: #403329;

      span {
        width: 40px;
        display: inline-block;

        img {
          width: 100%;
        }
      }
    }
  }

  .clients {
    min-height: 780px;
    margin-bottom: 20rem;
    padding: 2rem 2rem;
    display: flex;
    gap: 2rem;
    background-color: #f7f7f7;
    border-radius: 8px;
    position: relative;

    .video-box {
      height: 500px;
      padding-top: 1rem;
      padding-bottom: 1rem;
      flex: 2;
      position: relative;

      .frame {
        width: 100%;
        height: 100%;
        display: none;
        position: relative;
        z-index: 5;

        iframe {
          width: 100%;
          height: 100%;
        }
      }

      .poster {
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px #f7f7f7;
        z-index: 3;
        border-radius: 20px;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 20px;
        }

        .info {
          padding: 0.6rem 1.6rem;
          position: absolute;
          bottom: 5%;
          left: -5%;
          background: #f2e0deee;
          border-radius: 8px;

          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          p {
            margin: 0;

            &.name {
              font-size: 1.4rem;
              font-weight: 700;
            }

            &.profession {
              font-size: 1.2rem;
              font-weight: 600;
              color: #f06125;
            }
          }
        }

        #clients-play-btn {
          position: absolute;
          bottom: 1%;
          right: 3%;
          border: none;
          background: transparent;
          cursor: pointer;
        }
      }

      .second-poster {
        position: absolute;
        bottom: -40%;
        right: -22%;
        z-index: 1;
      }

      .third-poster {
        position: absolute;
        bottom: 20%;
        right: -55%;
        z-index: 1;
      }
    }

    .text-box {
      padding: 0 1rem;
      flex: 1;

      p {
        font-size: 1.2rem;
        line-height: 160%;
      }
    }

    .clients-link {
      position: absolute;
      bottom: 20%;
      left: 5%;

      font: 1.3rem;
      color: #f06125;
    }
  }

  .wrapper {
    width: 100%;
    display: flex;
    gap: 0;

    .tab {
      width: 90%;
      height: 470px;
      display: flex;
      gap: 0;

      background: #ebe6ec;
      border-radius: 20px;
      transition: 0.3s;
      position: relative;
      overflow: hidden;

      .closed-preview {
        display: none;
      }

      .text-box {
        width: 75%;
        padding: 2rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;

        &-header {
          width: 100%;
        }

        &-body {
          display: grid;
          grid-template-columns: 50% 50%;
          gap: 0.6rem;

          .box {
            padding: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 0.5rem;

            background-color: #f0ebee;
            border-radius: 6px;

            &-img {
              width: 30px;

              img {
                width: 100%;
              }
            }

            &:last-of-type {
              grid-column: 1/3;
            }
          }
        }

        &-footer {
          margin-top: 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .number {
            font-size: 2rem;
            font-weight: 700;
            margin: 0;
          }

          a {
            font-size: 1.1rem;
            font-weight: 600;
            color: #f06125;
          }
        }
      }

      .img-box {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
        }
      }

      &.terminals {
        .img-box {
          img {
            scale: 1.2;
          }
        }
      }

      &.banking {
        .text-box {
          &-header {
            .title {
              display: flex;
              align-items: center;
              gap: 0.8rem;

              h2 {
                margin: 0;
              }

              img {
                scale: 0.9;
              }
            }
          }
        }

        .img-box {
          padding: 1rem 2rem;
        }
      }

      &:not(.closed-tab)::before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 6%;
        left: 2%;

        border-radius: 50%;
        background-color: #f06125;
      }
    }

    .closed-tab {
      width: 10%;
      background: #e2e0e5;
      overflow: hidden;

      .closed-preview {
        width: 100%;
        padding: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        transition: 0.2s;
        cursor: pointer;

        p {
          margin: 0;
        }

        .title {
          width: 250px;
          position: absolute;
          top: 24%;
          left: 50%;
          transform: translateX(-50%) rotate(-90deg);
          font-size: 1.2rem;
          font-weight: 700;
          letter-spacing: 2px;

          span {
            color: #f06125;
          }
        }

        .number {
          font-size: 2rem;
          font-weight: 700;
        }

        &:hover {
          background-color: #f0eef2;
        }
      }

      .text-box,
      .img-box {
        display: none;
      }
    }
  }

  .wrapper-mobile {
    .tab-btns {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      gap: 1rem;

      .btn {
        padding: 1rem;
        flex: 1;
        font-size: 1.2rem;
        font-weight: 700;

        span {
          color: #f06125;
        }

        background: #ebe8e8;
        border-radius: 8px;
        cursor: pointer;
      }
    }

    .tab {
      width: 100%;
      background: #ebe8e8;
      border-radius: 20px;
      transition: 0.3s;
      opacity: 1;
      position: relative;

      .text-box {
        padding: 2rem 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-header {
          display: flex;
          align-items: flex-start;
          gap: 1rem;

          .text {
            width: 60%;
          }

          .img {
            width: 40%;
          }
        }

        &-body {
          display: grid;
          grid-template-columns: 50% 50%;
          gap: 0.6rem;

          .box {
            padding: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 0.5rem;

            background-color: #f0ebee;
            border-radius: 6px;

            &-img {
              width: 30px;

              img {
                width: 100%;
              }
            }

            &:last-of-type {
              grid-column: 1/3;
            }
          }
        }

        &-footer {
          margin-top: 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .number {
            font-size: 2rem;
            font-weight: 700;
            margin: 0;
          }

          a {
            font-size: 1.1rem;
            font-weight: 600;
            color: #f06125;
          }
        }
      }

      &.banking {
        .text-box {
          &-header {
            .text {
              .title {
                display: flex;
                align-items: center;
                gap: 0.8rem;

                h2 {
                  margin: 0;
                }

                img {
                  scale: 0.6;
                }
              }
            }

            .img {
              scale: 0.6;
            }
          }
        }
      }

      &:not(.hidden-tab)::before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 6%;
        left: 2%;

        border-radius: 50%;
        background-color: #f06125;
      }
    }

    .hidden-tab {
      opacity: 0;
      background: #e2e0e5;
      overflow: hidden;

      .text-box {
        display: none;
      }
    }
  }

  @media (max-width: 1200px) {
    .clients {
      .video-box {
        .third-poster {
          bottom: 15%;
        }
      }
    }
  }

  @media (max-width: 986px) {
    width: 100%;
    overflow: hidden;
    padding: 0 2rem;

    .clients {
      height: 900px;
      flex-direction: column-reverse;
      justify-content: flex-end;
      gap: 0;

      .text-box {
        flex: none;
      }

      .video-box {
        max-height: 500px;
        flex: none;

        .second-poster {
          scale: 0.9;
          bottom: -32%;
          left: -10%;
          right: auto;
          scale: 0.9;
        }

        .third-poster {
          bottom: -44%;
          right: -24%;
          scale: 0.8;
        }
      }

      .clients-link {
        bottom: 6%;
        font-size: 1.4rem;
      }
    }
  }

  @media (max-width: 776px) {
    padding: 0 1rem;

    .clients {
      padding: 1rem;
      flex-direction: column-reverse;
      gap: 0;

      .video-box {
        min-height: 400px;

        .poster {
          .info {
            left: 2%;
          }
        }

        .second-poster {
          bottom: -30%;
          left: -14%;
          scale: 0.8;
        }

        .third-poster {
          bottom: -40%;
          right: -24%;
          scale: 0.7;
        }
      }
    }

    .wrapper {
      display: none;
    }

    .wrapper-mobile {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }
  }

  @media (max-width: 576px) {
    padding: 0 0.4rem;

    .clients {
      height: 600px;
      padding: 0.2rem;
      flex-direction: column-reverse;
      gap: 0;

      .video-box {
        max-height: 300px;

        .poster {
          .info {
            left: 3%;
            gap: 0.1rem;

            p {
              &.name {
                font-size: 0.9rem;
              }
              &.profession {
                font-size: 0.8rem;
              }
            }
          }

          #clients-play-btn {
            right: 0;
            bottom: 0;
            scale: 0.7;
          }
        }

        .second-poster {
          bottom: -34%;
          left: -30%;
          scale: 0.6;
        }

        .third-poster {
          bottom: -44%;
          right: -30vw;
          scale: 0.5;
        }
      }

      .clients-link {
        font-size: 1rem;
        bottom: 2%;
      }
    }

    .wrapper-mobile {
      .tab {
        border-radius: 10px;

        .text-box {
          padding: 1.4rem 1.2rem;

          &-header {
            flex-direction: column;

            .text,
            .img {
              width: 100%;
            }
          }

          &-body {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
          }
        }

        &:not(.hidden-tab)::before {
          top: 2%;
          left: 3%;
        }
      }
    }
  }
}
// THE END

.payments-header {
  margin: 100px 0 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.04em;
  background: linear-gradient(90deg, #20333d 0%, #2788bf 75.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  h1 {
    margin: 0;
    font-size: 4rem;
  }

  h2 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
  }

  img {
    height: 40px;
    width: 40px;
  }
}

.payments {
  display: flex;
  place-items: center;
  gap: 50px;
  width: 95%;
  padding: 30px;
  margin: 0 auto;
  background: rgba(124, 124, 124, 0.06);
  backdrop-filter: blur(12.5px);
  border-radius: 30px;

  &__text {
    width: 50%;
    padding: 0 15px;
  }

  img {
    width: 100%;
    height: 350px;
  }
}

footer {
  width: 95%;
  margin: 100px auto 30px auto;
  background: rgba(124, 124, 124, 0.06);
  backdrop-filter: blur(12.5px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;

  .footer__links {
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      a {
        font-size: 1rem;
      }
    }

    &__socials {
      a {
        color: orange;
        height: 40px;
        width: 40px;

        &:hover {
          color: #2788bf;
        }
      }
    }
  }

  .footer__brands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    img {
      background-color: blanchedalmond;
    }
  }
}

@media (max-width: 1000px) {
  .homepageShowcase {
    .showcase-text {
      .icons-1 {
        left: 0%;
        top: 0%;

        .clover {
          width: 25px;
          height: 25px;
        }
      }

      .icons-2 {
        right: 5%;
        top: 2%;
      }

      .icons-3 {
        left: 10%;
        bottom: -36%;
      }

      .icons-4 {
        right: 5%;
        bottom: -30%;
      }

      .icons-5 {
        right: 30%;
        bottom: 0%;
      }

      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2.6rem;
      }

      p {
        font-weight: 400;
        font-size: 14px;
      }

      form {
        button {
          padding: 6px 15px;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .homepageShowcase {
    height: 100vh;

    .showcase-text {
      padding-top: 180px;

      .icons-1 {
        width: 24%;
        position: absolute;
        left: 0%;
        top: 0%;
        animation: fadeInFromTop 0s linear forwards, floating ease 0s infinite;

        .clover {
          position: absolute;
          left: 55%;
          bottom: 15%;
          width: 25px;
          height: 25px;
          animation: fadeInFromTop 0s linear forwards, floating ease 0s infinite;
        }
      }

      .icons-2 {
        width: 30%;
        position: absolute;
        right: 5%;
        top: 2%;
        animation: none;

        &:hover {
          animation: none;
        }
      }

      .icons-3 {
        width: 30%;
        position: absolute;
        left: 10%;
        bottom: -26%;
        animation: none;

        &:hover {
          animation: none;
        }
      }

      .icons-4 {
        width: 25%;
        position: absolute;
        right: 5%;
        bottom: -20%;
        animation: none;

        &:hover {
          animation: none;
        }
      }

      .icons-5 {
        width: 40px;
        position: absolute;
        right: 30%;
        bottom: -20%;
        animation: none;

        &:hover {
          animation: none;
        }
      }

      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2.6rem;
      }

      p {
        font-weight: 400;
        font-size: 14px;
      }

      form {
        gap: 35px;

        button {
          padding: 6px 15px;
        }
      }
    }
  }

  .payments {
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #7c7c7c0f;
    background: rgba(124, 124, 124, 0.06);
    backdrop-filter: blur(12.5px);
    border-radius: 40px;
    flex-direction: column-reverse;

    &__text {
      width: 80%;
      padding: 0 15px;
    }

    img {
      width: 100%;
      height: 350px;
    }
  }
}

@media (max-width: 540px) {
  .homepageShowcase {
    height: 100vh;

    .showcase-text {
      padding-top: 180px;

      .icons-1 {
        width: 34%;
      }

      .icons-2 {
        width: 40%;
        right: 5%;
        top: 2%;
      }

      .icons-3 {
        width: 30%;
        left: 10%;
        bottom: -26%;
      }

      .icons-4 {
        width: 25%;
        right: 5%;
        bottom: -20%;
      }

      .icons-5 {
        width: 40px;
        right: 30%;
        bottom: -20%;
      }

      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.6rem;
      }

      p {
        font-weight: 400;
        font-size: 12px;
      }

      form {
        flex-direction: column;
        gap: 25px;
      }
    }
  }

  .payments-header {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  .payments {
    border-radius: 10px;
  }
}
